body{
    background-color: black!important;
    color: white!important;
}
.text-size{
    font-size: 200px;
}
.no-spinners {
    -moz-appearance: textfield;
 }
 
 .no-spinners::-webkit-outer-spin-button,
 .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
 }